{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}
Welcome to Chat Room
{% endblock %}
{% block content %}
<center class="Container">
    <div class="jumbotron row">
        <div class="col-md-6">
            <center>
                <p class="lead"> Welcome to chat app</p>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                {% if request.user.is_authenticated %}
                <p class="lead mx-4"> you already logged in as : {{request.user}}</p>
                <a class="btn btn-lg btn-primary" href="">Go to chat room</a>
                {% else %}
                <a class="btn btn-lg btn-primary mx-4" href="{% url 'accounts:login' %}">Login</a>
                <a class="btn btn-lg btn-success" href="{% url 'accounts:register' %}">Sign up!</a>
                {% endif %}
            </center>
        </div>
    </div>
<style>
    .btn{
        border-radius: 15px;
    }
</style>
</center>
{% endblock %}