{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}
Login
{% endblock %}
{% block content %}
<a style="justify-content: center;" class="d-flex btn btn-sm btn-danger" href="{% url 'chat_app:home' %}">Go to home</a>
<form class="container jumbotron my-3" method="post">
        <header class="lead"> Login</header><hr></hr>
        {% csrf_token %}
        <center><table class="my-3">
                {{ form.as_table }}
        </table></center>
        <br>
        <center> <button id="submit" type="submit" class="btn btn-success">Sign in</button></center>
        {% if user.is_anonymous %}
        <br><br><center><a style="color: red;" href="{% url 'accounts:register' %}" role="button">- Not Having an account -</a></center>
        {% endif %}
</form>
{% endblock %}