{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}
Register now
{% endblock %}
{% block content %}
<a style="justify-content: center;" class="d-flex btn btn-sm btn-danger" href="{% url 'chat_app:home' %}">Go to home</a>
<form class="container jumbotron my-3" method="POST">
        <header class="lead"> Register Now</header><hr></hr>
        {% csrf_token %}
        <center >
            <table>
                {{form.as_table}}
            </table>
            <br>
        <center> <button id="submit" type="submit" class="btn btn-success">Register</button></center>
        </center>
        {% if user.is_anonymous %}
        <br><center><a href="{% url 'accounts:login' %}" style="color:red;" role="button">- Having an account -</a></center>
        {% endif %}
</form>

{% endblock %}